@import './resets';
@import './variables';

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin inputBox {
    font-size: 1rem;
    padding: .5rem;
    border-radius: 10px;
    font-weight: bold;
    
    background-color: $secondary-color;
    color: $primary-color;
}

body {
    @include flexCenter(column);
    height: $height;
    background-color: $primary-color;
}

.login-box {
    @include flexCenter(column);
    padding: 1rem;
    width: 25%;
    border-radius: 10px;
    input {
        @include flexCenter(column);
        @include inputBox();
        margin: 1rem;
    }
    
}
